<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="../../static/css/js/index.js">
</head>
<body>

    <main>
        <div class="page">
            <div class="card">
                <form method="post" action="/cadastrar">
                    <h2>Cadastro</h2>
                    <p>Cadastre os seus dados</p>

                    <label for="name">Nome</label>
                    <input class="campo" type="text" placeholder="Digite seu nome" id="name">
                    
                    <label for="email">E-mail</label>
                    <input class="campo" type="email" placeholder="Digite seu e-mail" autofocus="true" id="email" />
    
                    <label for="senha">Senha</label>
                    <input class="campo" type="password" placeholder="Digite sua senha" id="senha" />
    
                    <input class="botao" type="submit" value="Acessar" />
                    
                </form>
            </div>
            
        </div>
    </main>

</body>
</html>