<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <script src="../../static/js/index.js"></script>
</head>
<body>

<main>
    <div class="page">
        <div class="card">
            <form>
                <h2>Cadastro</h2>
                <p>Cadastre os seus dados</p>

                <label for="name">Nome</label>
                <input class="campo" type="text" placeholder="Digite seu nome" id="name" name="name">

                <label for="email">E-mail</label>
                <input class="campo" type="email" placeholder="Digite seu e-mail" autofocus="true" id="email" name="email"/>

                <label for="senha">Senha</label>
                <input class="campo" type="password" placeholder="Digite sua senha" id="senha" name="senha"/>

                <input class="botao" type="button" value="Acessar" onclick="cadastrar()" />

            </form>
        </div>

    </div>
</main>
</body>
</html>