<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra de Produtos - Mercado</title>

    <link rel="stylesheet" href="../static/css/compra.css">

    <!-- Link Swiper's CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />


</head>
<body>
    <!-- <div class="container">
        <h1>Atacadinho</h1>

        <div class="product-card">
            <h2>Chá Mate</h2>
            <p class="price">R$ 25,00</p>
            <p>Quantidade:</p>
            <input type="number" value="1" min="1" id="quantity">
            <button class="buy-button">Comprar</button>
        </div>

        <div class="product-card">
            <h2>Agua Miner</h2>
            <p class="price">R$ 20,00</p>
            <p>Quantidade:</p>
            <input type="number" value="1" min="1" id="quantity2">
            <button class="buy-button">Comprar</button>
        </div>

    </div> -->

    <h1>Atacadinho</h1>
    <section class="carrosel">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide product-card">
                    <h2>Chá Mate</h2>
                    <p class="price">R$ 25,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide product-card">
                    <h2>Chá Mate</h2>
                    <p class="price">R$ 25,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                <div class="swiper-slide product-card">
                    <h2>Agua Miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>


    

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
        });
    </script>

</body>
</html>