<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de compra</title>
    <link rel="stylesheet" href="../static/css/carrinho.css">
</head>
<body>
<div>
    <H1>CARRINHO DE COMPRAS</H1>
    <label for="name">Produto:</label>
    <input class="campo" type="text" id="name" name="name" placeholder="Digite o produto">
</div>
<table>
    <thead>
    <tr>
        <th>Produto</th>
        <th>Quantidade</th>
    </tr>
    </thead>
    <tbody id="user-table-body">
    </tbody>
</table>
<script src="carrinho.js"></script>
</body>
</html>
