<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de compra</title>
    <script src="../static/js/carrinho.js" defer></script>

    <link rel="stylesheet" href="../static/css/carrinho.css">
</head>
<body>
<div>
    <H1>CARRINHO DE COMPRAS</H1>
    <label for="name">Produto:</label>
    <input class="campo" type="text" id="name" name="name" placeholder="Digite o produto">
</div>
<table>
    <thead>
    <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
    </tr>
    </thead>
    <tbody id="user-table-body">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th><input class="buy-button" type="button" value="Comprar"></th>
        <script src="../../static/js/adicionar.js"></script>

    </tr>
    </tbody>
</table>
</body>
</html>
