<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra de Produtos - Mercado</title>
    <script src="../static/js/compra.js" defer></script>
    <link rel="stylesheet" href="../static/css/compra.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />



</head>
<body>
    <header>
        <nav class="cabecalho">
            <h1 class="titulo_link">Atacadinho</h1>
            <a class="cabecalho_link" href="carrinho.html"><img class="img_link" src="./img/carrinho-de-compras-de-design-xadrez.png" alt="icone carrinho de compras"></a>
        </nav>
    </header>


    <section class="carrosel">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide product-card">
                    <h2>Arroz</h2>
                    <p class="price">R$ 25,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity">
                    <button class="buy-button">Adicionar ao carrinho</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Feijão</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Açúcar</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Farinha de milho</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Azeite de oliva</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Água miner</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Espinafre</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Pimenta</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Pão de forma</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Leite</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Iogurte</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Manteiga</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Maionese</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Mostarda</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Coca-cola</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Pasta de dente</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Requeijão</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Café</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Macarrão</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Farinha de trigo</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Óleo de soja</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Sal</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Cebola</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Batata</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Cenoura</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide product-card">
                    <h2>Alface</h2>
                    <p class="price">R$ 25,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Queijo mussarela</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Presunto</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Ovo</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Ket-chup</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Fio-Dental</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Tomate</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Chá (mate)</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Achocolatado</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Suco de laranja</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Refrigerante</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Sabão em pó</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Detergente</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Amaciante</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Frango (peito)</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Carne bovina (filé)</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Carne suína (lombo)</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
                
                <div class="swiper-slide product-card">
                    <h2>Peixe (salmão)</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Atum enlatado</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Sardinha enlatada</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Milho enlatado</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Ervilha enlatada</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Feijão enlatado</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Molho de tomate</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>

                <div class="swiper-slide product-card">
                    <h2>Papel higiênico</h2>
                    <p class="price">R$ 20,00</p>
                    <p>Quantidade:</p>
                    <input type="number" value="1" min="1" id="quantity2">
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>   
    </section>


    

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
    });
    </script>

</body>
</html>